<% content_for :css do -%>
  <%= stylesheet_link_tag "login", :media => "all" %>
<% end -%>
<div class="container">
    <span></span><div class="row outer">
        <span></span><div class="span4 offset4 well inner">
            <legend>Sign In</legend>
            <%= content_tag(:div, flash[:alert], :class => "alert alert-error") if flash[:alert] %>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <%= f.text_field :login, :class => 'span4', :placeholder => 'Email or Username' %>
              <%= f.password_field :password, :class => 'span4', :placeholder => 'Password' %>

              <% if devise_mapping.rememberable? -%>
                <label class="checkbox">
                    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                </label>
              <% end -%>

              <%= f.submit "Sign in", :class => 'btn btn-info btn-block' %>
            <% end %>
        </div>
    </div>
</div>

 <%#= render "devise/shared/links" %>
